/* MENU STYLE */
.logo-big { color:$main_grey; }
.menu { li { a { color:$main_grey; } } }
.navbar-toggle .icon-bar { background:$main_grey; }
.menu_container { 
	border-top: 1px solid white!important;
	background: white;
}
.header {
	    border-bottom: 1px solid #efefef;
}
/* SEARCH STYLE */